<h2>Liste des tâches</h2>

<div>
  <button (click)="setFilter('all')" [ngClass]="{ 'active' : currentFilter === 'all' }">Toutes</button>
  <button (click)="setFilter('completed')" [ngClass]="{ 'active' : currentFilter === 'completed' }">Complétées</button>
  <button (click)="setFilter('pending')" [ngClass]="{ 'active' : currentFilter === 'pending' }">Non complétées</button>
</div>
<ul>
  <li *ngFor="let task of filteredTasks">
    <div  [ngClass]="{ 'selected-task': isSelected(task) }">
      <div (click)="selectTask(task)" class="task-title">
        {{ task.id }}. {{ task.title }}
      </div>
      <div class="task-detail" *ngIf="selectedTaskId === task.id">
        <app-task-detail [task]="task"></app-task-detail>
      </div>
    </div>
  </li>
</ul>